body{
  background-color: black;
  color:white;
}

footer{
  text-align: center;
}

/*quote_box{*/
/*  text-align: center;*/
/*  border: 2px black solid;*/
/*  width: 200px;*/
/*  height: 200px;*/
/*}*/