body{
  background-color: black;
  color:white;
}

footer{
  text-align: center;
}

.quotes{
  margin-top:20px;
  background-color:#e3deee;
  width: 33%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 10px;
  border-color:white;
  border-style:solid;
  border-radius:10px;
  padding:20px;
  height:auto;
  color:blue;
  font-size:20px;
}
